.material-icon {
  font-size: 32px;
  color: #fff;
  line-height: 50px;
  width: 100%;
  height: 100%;
}

.card-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

#chart {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
