.section-heading{
  color: var(--sys-primary);

}

.section-heading .section-title {
  font-size: 20px;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 0;
}



.responsive-table-container table {
  min-width: 800px;
  width: 100%;
}

