table{
  width: 100%;
}

.mat-mdc-table{
  overflow-x: auto;
}

.mat-column-id,.mat-column-patientName,.mat-column-diagnosis,.mat-column-date,.mat-column-age,.mat-column-actions{
  font-size: 20px;
  text-align: center;
}



.custom-button-heigh{
  height: 50px;
  line-height: 60px;
}
