<div class="m-3">

  <div class="card-title p-3">
      <div class="d-flex justify-content-between align-items-center">
        <h2>All Prescriptions</h2>
        <button mat-flat-button color="primary" class="custom-button-heigh" (click)="addPrescription()">
          <mat-icon>add</mat-icon>
          Add prescription
        </button>

      </div>
  </div>

  <div class="card-body">
      <!-- <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
        </ng-container>

        <ng-container matColumnDef="diagnosis">
          <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
          <td mat-cell *matCellDef="let element"> {{element.diagnosis}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="nextVisit">
          <th mat-header-cell *matHeaderCellDef> NextVisit </th>
          <td mat-cell *matCellDef="let element"> {{element.nextVisit}} </td>
        </ng-container>
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> 
            <div class="d-flex justify-content-center">
              Actions
            </div> </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center justify-content-center gap-3">
              <button class="btn btn-success" (click)="updatePrescription(element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="btn btn-danger"  (click)="deletePrescription(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="openDialogDetails(row.id)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)" [length]="totalItems"
        [pageSize]="pageSize" [pageIndex]="pageIndex" showFirstLastButtons aria-label="Select page">
      </mat-paginator> -->
      <lib-material-table 
      [title]="'Prescriptions'"
      [tableData]="prescriptions" 
      [tableColumns]="prescriptionsTableColumns"
      [isFilterable]="true"
      [isSortable]="true"
      [isPageable]="true"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (sort)="sortData($event)"
      (openDialogDetails)="openDialogDetails($event)"
      ></lib-material-table>
  </div>



</div>