<div class="page-wrapper">

  <div class="breadcrumb">
    <li>
      <h4 class="page-title">View Prescriptions</h4>
    </li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item breadcrumb-icon d-flex align-items-center"><img src="/assets/images/home.svg" /></li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item">Prescription</li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item active">View</li>
  </div>

  <div class="card-body">
      <lib-material-table 
      [title]="'Prescriptions'"
      [tableData]="prescriptions" 
      [tableColumns]="prescriptionsTableColumns"
      [isFilterable]="true"
      [isSortable]="true"
      [isPageable]="true"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (sort)="sortData($event)"
      (openDialogDetails)="openDialogDetails($event)"
      (exportExcel)="exportAsExcel()"
      [enableSelection]="false"
      ></lib-material-table>
  </div>



</div>