.visit-summary-section {
  background-color: #e6f0ff;
}

.visit-summary-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
}

.prescription-id {
  font-weight: bold;
  font-size: 14px;
}

.text-body {
  font-size: 14px;
  color: #6C7688 !important;
}

.patient-details {
  background-color: #e2e4e7;
  padding: 10px;
  border-radius: 8px;


}

.patient-img-details {
  border: 3px solid #4e73f0;
  border-radius: 50%;
}