<div class="page-wrapper">

  <div class="breadcrumb d-flex align-items-center gap-2">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon class="me-2">arrow_back</mat-icon>
    </button>
    <li>
      <h4 class="page-title">{{ 'PRESCRIPTION_DETAILS.DETAILS_TITLE' | translate }}</h4>
    </li>
  </div>
  <div class="row gap-lg-0 gap-3">
    <div class="col-12 col-lg-8">
      <app-prescription-card-details [prescription]="prescription"></app-prescription-card-details>
    </div>
    <div class="col-12 col-lg-4 d-flex flex-column gap-4">
      <app-prescription-patient-info [patient]="prescription.patient"></app-prescription-patient-info>
      <app-prescription-actions [prescriptionId]="prescription.id"></app-prescription-actions>
    </div>
  </div>