<div class="sidenav-header">
  <img
    [src]="'https://localhost:7096/'+this.authService.user()?.imageUrl"
    [width]="profilePicSize()"
    [height]="profilePicSize()"
  />
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>Clinic</h2>
    <p>{{authService.user()?.firstName + ' ' + authService.user()?.lastName}}</p>
  </div>
</div>
<mat-nav-list>
  @for (item of menuItems(); track item.lable) {
    <app-menu-item [item]="item" [collapsed]="sidenavCollapsed()" />
  }
</mat-nav-list>
