@use '@angular/material' as mat;
.NgxEditor {
    height: 250px !important;
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 300px !important;
  }

// .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,  
//  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label { 
//         transform: translateY(-1.7175em) scale(1) !important;
//     }
// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
//     --mat-mdc-form-field-floating-label-scale: 1;
//     }
/* Ensure the mat-form-field takes up the full width of the cell content area */
:root {
  @include mat.table-overrides((
    header-headline-size:14px,
    header-headline-weight:600,
    row-item-label-text-font:17px,
    header-headline-color:#1a1b1f
  ));
}

.snack-error {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
    supporting-text-color: white
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: green,
    supporting-text-color: white
  ));
}

input{
  outline: none;
  font-size: 14px !important;
  text-decoration: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
button, input, select, a {
    outline: none !important;
    font-size: 14px !important;
    text-decoration: none !important;
}
.col-red{
  color: #f44336 !important
}

.col-green {
    color: #4caf50 !important;
}

.col-blue {
    color: #2196f3 !important;
}

span.badge {
    min-width: auto;
    float: none;
    font-size: 13px;
}

.badge-solid-purple {
    color: #6f42c1;
    background-color: #6f42c126;
    border: none;
    padding: 5px 12px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 5px;

}

.badge-solid-green {
    color: #198754;
    background-color: #19875426;
    border: none;
    padding: 5px 12px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 5px;

}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
  background-color: #005cbb !important;
  border-color:#005cbb !important
}
.mat-mdc-checkbox-ripple, .mdc-checkbox__ripple{
  display: none !important;
}

.page-wrapper{
  padding: 25px 25px 0 25px;
}

.breadcrumb{
  font-size: 15px;
  color:#555;
}

.breadcrumb .page-title{
  font-size: 20px;
  color:#444;
  margin-bottom: 0px;
}

.breadcrumb-icon img{
  width: 18px;
  height: 18px;
  color:#2c323f;
}

.breadcrumb.active{
  color:#444;
  font-weight: 400;
}

.mat-mdc-card-content {
    padding: 15px !important;
}

.mat-mdc-card-header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 15px !important;
    line-height: 30px;
    border-bottom: 1px solid;
    border-color: #523f690f;
}

.mat-mdc-card-header .mat-mdc-card-title {
  font-family: "Cairo", sans-serif;
    margin: 0;
    font-size: 17px;
    line-height: 28px;
    padding-right: 10px;
    font-weight: 500;
}

.fc .fc-button-primary:disabled {
    color: #fff !important;
    background-color: #6777ef !important;
    border-color: #6777ef !important;
}

.fc .fc-button-primary {
    background-color: #fff !important;
    border: 1px solid #eee !important;
    color: #7e869d !important;
    border-radius: 5px !important;
    margin-right: 8px !important;
}
.fc .fc-button-primary:not(:disabled):active {
    color: #fff !important;
    background-color: #6777ef !important;
    border-color: #6777ef !important;
}
.fc .fc-button-primary:focus {
  box-shadow: none !important;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
    color: #fff !important;
    background-color: #6777ef !important;
    border-color: #6777ef !important;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    color:#666;
}
.fc-view>table th {
    border-color: #ddd;
    font-weight: 500;
}
.fc .fc-daygrid-day-top{
  justify-content: center;
}

.p-img{
  width:35px;
  height: 35px;
  border-radius: 50%;
  border:1px solid #fff;
  box-shadow: 0 5px 25px #0003;
}
