@use '@angular/material' as mat;

.NgxEditor {
    height: 250px !important;
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 300px !important;
  }

// .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,  
//  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label { 
//         transform: translateY(-1.7175em) scale(1) !important;
//     }
// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
//     --mat-mdc-form-field-floating-label-scale: 1;
//     }
/* Ensure the mat-form-field takes up the full width of the cell content area */
:root {
  @include mat.table-overrides((
    header-headline-size:20px,
    header-headline-weight:bold,
    row-item-label-text-font:17px
  ));
}

.snack-error {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
    supporting-text-color: white
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: green,
    supporting-text-color: white
  ));
}