:host *{
  transition: all 500ms ease-in-out;
}


a.mat-mdc-list-item.menu-item{
  border-left: 5px solid transparent;
  border-radius: 0px;
}

.mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--activated{
  border-left-color: var(--primary-color);
  background: rgba(0,0,0,0.05);
}

.indented{
  --mat-list-list-item-leading-icon-start-space:48px
}