<div class="sidebar-header">
  <img src="assets/images/logo.svg" class="logo" alt="logo" />
  <h2 class="brand">Clinic</h2>
</div>
<mat-list>
    <ng-container *ngFor="let item of menu">
      <mat-list-item *ngIf="item.title" [routerLink]="item.link" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon [style.color]="item.color" mat-list-icon>
          {{ item.icon }}
        </mat-icon>
        <div mat-line>{{ item.title }}</div>
      </mat-list-item>
    </ng-container>
</mat-list>