<h2 mat-dialog-title>Add User</h2>

<mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>First name</mat-label>
      <input formControlName="firstName" matInput placeholder="First name">
      @if(userForm.get('firstName')?.hasError('required')){
      <mat-error>First name is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Last name</mat-label>
      <input formControlName="lastName" matInput placeholder="Last name">
      @if(userForm.get('lastName')?.hasError('required')){
      <mat-error>Last name is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Email address</mat-label>
      <input formControlName="email" matInput placeholder="Email address">
      @if(userForm.get('email')?.hasError('required')){
      <mat-error>Email address is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Phone number</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Phone number">
      @if(userForm.get('phoneNumber')?.hasError('required')){
      <mat-error>Phone number address is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>User name</mat-label>
      <input formControlName="userName" matInput placeholder="User name">
      @if(userForm.get('userName')?.hasError('required')){
      <mat-error>User name is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        @for (role of roles; track role.id) {
        <mat-option [value]="role.name">{{role.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>


<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-flat-button color="warn" (click)="closeDiaglog()">Close</button>
  <button mat-flat-button color="primary" (click)="updateUser()" cdkFocusInitial>Create</button>
</mat-dialog-actions>