.widget-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

:host {
  --mat-standard-button-toggle-height: 25px;
}

.move-right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.move-left {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}