<div class="page-wrapper">

  <div class="breadcrumb">
    <li>
      <h4 class="page-title">Chat</h4>
    </li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item breadcrumb-icon d-flex align-items-center"><img src="/assets/images/home.svg" /></li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item active">Chat</li>
  </div>

  <app-chat-sidebar class="d-block d-md-none mb-3"></app-chat-sidebar>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <app-chat-sidebar class="d-none d-md-block "></app-chat-sidebar>
    </div>
    <div class="col-xs-12 col-md-9">
      <app-chat-box></app-chat-box>
    </div>
  </div>

</div>