.mb-15{
  margin-bottom: 15px;
}

.peaple-list{
  max-height: 650px;
  .peaple-item{
    cursor: pointer;

    &.active{
      background-color: #efefef;
      border-radius: 4px;
    }

    &:hover{
      @extend .active;
    }

    .status{
      font-size: 13px;
      color:#999;
    }
    .name{
      font-size:15px;
    }
    .offline {
      margin-right: 3px;
      font-size: 10px;
      color: #e38968;
      width: fit-content;
      display: flex;
      align-items: center;
    }

    .online{
      margin-right: 3px;
      font-size: 10px;
      color: #0004fc;
      width: fit-content;
      display: flex;
      align-items: center;
    }
    
  }
}