<div class="page-wrapper">

  <div class="breadcrumb">
    <li>
      <h4 class="page-title">Chat</h4>
    </li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item breadcrumb-icon d-flex align-items-center"><img src="/assets/images/home.svg" /></li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item active">Chat</li>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="card">
        <div class="p-3">
          <div class="mb-15">
            <input type="text" placeholder="search..." class="form-control" />
          </div>
          <div class="peaple-list d-flex flex-column overflow-auto gap-1">
            @for (user of chatService.allUsers(); track user.id) {
            <div class="peaple-item d-flex p-2 gap-2" (click)="openChatWindow(user)">
              <div class="d-flex flex-column justify-content-start">
                <img [src]="'https://localhost:7096/'+user.imageUrl" class="p-img" />
              </div>
              <div class="d-flex flex-column justify-content-start">
                <div class="name">{{user.firstName+' '+user.lastName}}</div>
                <div class="d-flex align-items-center status">
                  @if(!user.isOnline){
                  <mat-icon class="offline">fiber_manual_record</mat-icon>
                  <div> {{user.lastSeen | timeAgo}}</div>
                  }@else {
                  <mat-icon class="online">fiber_manual_record</mat-icon>
                  <div>Online</div>
                  }

                </div>
              </div>
            </div>
            }


          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="card">
        <div class="chat-header d-flex gap-2">
          <div class="d-flex flex-column justify-content-start">
            <img [src]="'https://localhost:7096'+chatService.currentOpenedChat()?.imageUrl " class="p-img" />
          </div>
          <div class="chat-about">
            <div class="chat-with">{{chatService.currentOpenedChat()?.firstName}}</div>
            <div class="chat-num-msg">{{chatService.currentOpenedChat()?.unReadCount}} new messages</div>
          </div>
        </div>
        <div class="chat-content overflow-y-auto p-3 d-flex flex-column gap-3">

          @if(chatService.chatMessages().length > 5){
          <div class="text-center py-1 w-100">
            <button class="btn btn-primary">
              @if(chatService.isLoading()){
              <div class="d-flex  align-items-center gap-2">
                <mat-spinner diameter="20" strokeWidth="3">Loading</mat-spinner>
              </div>
              }@else {
              Load more
              }
            </button>
          </div>
          }
          @for (item of chatService.chatMessages(); track item.id) {
            @if(item.senderId!=authService.user()?.id){
              <div class="msg-item d-flex align-items-start min-w-64 gap-2">
                <div class="d-flex flex-column justify-content-start">
                  <img [src]="'https://localhost:7096/'+chatService.currentOpenedChat()?.imageUrl" [alt]="chatService.currentOpenedChat()?.firstName" class="p-img" />
                </div>
                <div class="msg">
                  <p class="msg-content"> {{item.content}} </p>
                </div>

              </div>
            }@else {
              <div class="msg-item d-flex align-items-start flex-row-reverse w-100 gap-2 min-w-64 ">
                <div class="d-flex flex-column justify-content-end">
                  <img [src]="'https://localhost:7096/'+authService.user()?.imageUrl" class="p-img" />
                </div>
                <div class="msg bg-dark">
                  <p class="msg-content text-white"> {{item.content}} </p>
                </div>

              </div>
            }
          }

          
        </div>

        <div class="send-msg p-3">
          <div class="d-flex gap-3">
            <input type="text" class="form-control" placeholder="Write your message..." />
            <button class="btn bg-dark text-white">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>