<div class="page-wrapper">
  <mat-tab-group animationDuration="0" (selectedIndexChange)="onTabChange($event)">
    @for (day of timeSlotService.dayOfWeek; track day) {
    <mat-tab [label]="day" class="">
      <div class="my-4">
        <lib-material-table
          [title]="'Times'"
          [tableData]="timeSlotService.timeSlotsByDay()[day]"
          [tableColumns]="timeSlotsTableColumns"
          [isFilterable]="true"
          [isSortable]="true"
          [isPageable]="true"
          (add)="onAdd()"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
          (openDialogDetails)="onEdit($event)"
        ></lib-material-table>
      </div>
    </mat-tab>
    }
  </mat-tab-group>
</div>
