<div class="ms-5 mt-3 pb-3">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="mb-3 col-md-6 col-lg-6 col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Current password</mat-label>
        <input formControlName="currentPassword" matInput placeholder="Current password">
        @if(changePasswordForm.get('currentPassword')?.hasError('required')){
        <mat-error>Current password is required</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="mb-3 col-md-6 col-lg-6 col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>New password</mat-label>
        <input formControlName="newPassword" matInput placeholder="New password">
        @if(changePasswordForm.get('newPassword')?.hasError('required')){
        <mat-error>New password is required</mat-error>
        }
      </mat-form-field>
    </div>


    <button type="submit" class="btn btn-primary">Save changes</button>
  </form>
</div>