<div class="page-wrapper">

  <div class="breadcrumb">
    <li>
      <h4 class="page-title">{{'PATIENT_PROFILE.TITLE' | translate}}</h4>
    </li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item breadcrumb-icon d-flex align-items-center"><img src="/assets/images/home.svg" /></li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item">{{'PATIENT_PROFILE.BREADCRUMB.PATIENTS' | translate}}</li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item active">{{'PATIENT_PROFILE.TITLE' | translate}}</li>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4 mb-3">
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-content>
          <div class="p-3 text-center">
            <img width="150" height="150" class="rounded-circle patient-profile-img"
              [src]="'http://localhost:5069'+patient.patientInformation.imageUrl" alt="patient image" />
            <h4 class="mt-4">{{patient.patientInformation.fullName}}</h4>
            <p class="text-muted">{{'PATIENT_PROFILE.CARD.PATIENT_ID' | translate}} {{patient.patientInformation.patientId}}</p>
            <div class="d-flex justify-content-center">
              <div class="appointment-status text-capitalize">{{patient.patientInformation.status}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>
            <div class="d-flex align-items-center gap-2">
              <mat-icon class="header-icon">account_circle</mat-icon>
              <span>{{'PATIENT_PROFILE.CARD.PERSONAL_INFO_TITLE' | translate}}</span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="p-3">
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.PERSONAL_INFO.FULL_NAME' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.fullName}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.PERSONAL_INFO.GENDER' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.gender}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.PERSONAL_INFO.AGE' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.age}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.PERSONAL_INFO.DATE_OF_BIRTH' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.dateOfBirth}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>
            <div class="d-flex align-items-center gap-2">
              <mat-icon class="header-icon">contact_phone</mat-icon>
              <span>{{'PATIENT_PROFILE.CARD.CONTACT_ADDRESS_TITLE' | translate}}</span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="p-3">
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.CONTACT_ADDRESS.EMAIL' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.email}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.CONTACT_ADDRESS.PHONE' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.phoneNumber}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-muted">{{'PATIENT_PROFILE.CARD.CONTACT_ADDRESS.ADDRESS' | translate}}</div>
              <div class="col-9">{{patient.patientInformation.address}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div class="col-12 col-lg-8">
      <mat-card appearance="outlined" class="mb-3 shadow-sm">
        <mat-card-header class="section-header rounded-top p-0 ">
          <mat-card-title class="d-flex align-items-center p-3 gap-2 ">
            <mat-icon class="header-icon">medication</mat-icon>
            <div class="h6 fw-bold mb-0">{{'PATIENT_PROFILE.CARD.PRESCRIPTION_HISTORY' | translate}}</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-0">
          <app-prescription-history [data]="patient.prescriptionHistory"></app-prescription-history>
        </mat-card-content>
      </mat-card>
      
      <mat-card appearance="outlined" class="mb-3 shadow-sm">
        <mat-card-header class="section-header rounded-top p-0 ">
          <mat-card-title class="d-flex align-items-center p-3 gap-2 ">
            <mat-icon class="header-icon">calendar_today</mat-icon>
            <div class="h6 fw-bold mb-0">{{'PATIENT_PROFILE.CARD.APPOINTMENT_HISTORY' | translate}}</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-0">
          <app-appointment-history [data]="patient.appointmentHistory"></app-appointment-history>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
<br>