
.chat-header{
  padding:20px;
  border-bottom: 1px solid #eee;

  .chat-with{
    font-weight: 700;
    font-size: 16px;
  }

  .chat-num-msg{
    color:#434651
  }
}

.chat-content{
  min-height: 500px;
  max-height: 500px;

  &::-webkit-scrollbar{
    width: 5px;
    transition: width 0.3s;
  }

  &:hover::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px;
  }

  &:hover::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
  }

  &::-webkit-slider-thumb:hover{
    background-color: #555;
  }

  .msg-item{
    width: fit-content;

    .msg{
      background-color: #f1f5f9;
      padding:4px;
      border-radius: 4px;
      max-width: 250px;
    }
    .msg-content{
      color:#334155;

    }
  }

  .min-w-64{
    min-width: 16rem;
  }
}