<div class="page-wrapper">

  <div class="breadcrumb">
    <li>
      <h4 class="page-title">Book Appointment</h4>
    </li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item breadcrumb-icon d-flex align-items-center"><img src="/assets/images/home.svg" /></li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item">Appointment</li>
    <mat-icon>chevron_right</mat-icon>
    <li class="breadcrumb-item active">Book</li>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Book Appointment</mat-card-title>
      <mat-card-subtitle>Fill in the details to schedule a patient appointment</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="m-4" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Choose a date</mat-label>
              <input matInput formControlName="date" [matDatepicker]="picker" (dateChange)="getTimeSlots($event)">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if(appointmentForm.get('date')?.hasError('required')){
              <mat-error>Date is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Patient</mat-label>
              <input matInput placeholder="Search by name" formControlName="patientSearch" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPatientSelected($event)">
                <mat-option *ngFor="let p of filteredPatients | async" [value]="p">
                  <div class="d-flex align-items-center">
                    <img [src]="'https://localhost:7096/'+p.imageUrl" class="patient-img" />
                    <div class="ms-2">
                      <div>{{ p.fullName }}</div>
                      <div class="fs-6 text-muted">{{p.phoneNumber}}</div>
                    </div>
                  </div>
                </mat-option>
                <mat-option *ngIf="(filteredPatients | async)?.length === 0" disabled>
                  No results
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <!-- hidden control that holds the id to submit -->
            <input type="hidden" formControlName="patientId" />
            <mat-error *ngIf="appointmentForm.get('patientSearch')?.hasError('required')">
              Patient is required
            </mat-error>

          </div>
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">

              <mat-label>Times</mat-label>
              <mat-select matNativeControl required formControlName="timeSlotId">
                <mat-option value="">-- Select time --</mat-option>
                @for (time of timeSlots; track time.id) {
                <mat-option [value]="time.id">{{ time.startTime.substring(0,5) }} - {{ time.endTime.substring(0,5)
                  }}</mat-option>
                }
              </mat-select>
              @if(appointmentForm.get('timeSlotId')?.hasError('required')){
              <mat-error>Time is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Reason for Visit</mat-label>
              <textarea matInput formControlName="reasonForVisit" placeholder="Describe reason for the visit" rows="3">
              </textarea>

              @if(appointmentForm.get('reasonForVisit')?.hasError('required')){
              <mat-error>Reason is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Visit Type</mat-label>
              <mat-select formControlName="visitType">
                <mat-option value="New">New Patient</mat-option>
                <mat-option value="FollowUp">Follow Up</mat-option>
                <mat-option value="Consultation">Consultation</mat-option>
              </mat-select>

              @if(appointmentForm.get('visitType')?.hasError('required')){
              <mat-error>Visit type is required</mat-error>
              }
            </mat-form-field>
          </div>



        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 text-end">
            <!-- <button mat-raised-button>Reset Form</button> -->
            <button type="submit" mat-flat-button color="primary" [disabled]="appointmentForm.invalid">Submit
              Appointment</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>