<div class="card p-3 m-3">
  <div class="card-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
      <h4 class="text-muted fw-medium mb-3">Profile picture</h4>
      <div class="d-flex align-content-center gap-5">
        <img  [src]="imageSrc || defaultAvatar" #preview class="profile-img " alt="avatar" />
        <input (change)="onFileSelected($event)" hidden type="file" id="imageProfile" />
        <div class="d-flex align-items-center gap-3">
          <label for="imageProfile" class="btn btn-primary">Change picture</label>
          <button class="btn btn-danger" (click)="removeImage()">Delete picture</button>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="mb-3 col-md-6 col-lg-4 col-12">
          <mat-form-field appearance="outline"  class="w-100">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="First name">
            @if(profileForm.get('firstName')?.hasError('required')){
              <mat-error>First name is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="mb-3 col-md-6 col-lg-4 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last name">
            @if(profileForm.get('lastName')?.hasError('required')){
              <mat-error>Last name is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="mb-3 col-md-6 col-lg-4 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>PhoneNumber</mat-label>
            <input formControlName="phoneNumber" matInput placeholder="Phone number">
            @if(profileForm.get('phoneNumber')?.hasError('required')){
              <mat-error>PhoneNumber is required</mat-error>
            }
          </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
      <div class="mb-3 col-md-6 col-lg-4 col-12">
          <mat-form-field appearance="outline"  class="w-100">
            <mat-label>Username</mat-label>
            <input formControlName="userName" readonly matInput placeholder="User name">
          </mat-form-field>
        </div>
        <div class="mb-3 col-md-6 col-lg-4 col-12">
          <mat-form-field appearance="outline"  class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" readonly matInput placeholder="Email">
          </mat-form-field>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
  </div>
</div>