<div class="page-wrapper">

  <mat-card class="ps-5 mt-3 pb-3" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3 class="page-title">{{'PROFILE.TITLE'|translate}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <h6 class=" fw-medium mb-3">{{'PROFILE.PICTURE' | translate}}</h6>
          <div class="d-flex align-content-center gap-5">
            <img [src]="imageSrc || defaultAvatar" #preview class="profile-img " alt="avatar" />
            <input (change)="onFileSelected($event)" hidden type="file" #imageProfile />
            <div class="d-flex align-items-center gap-3">
              <button mat-stroked-button extended type="button" (click)="imageProfile.click()">
                <mat-icon>edit</mat-icon>
                {{'PROFILE.CHANGE_PICTURE' | translate}}
              </button>
              <button mat-stroked-button extended type="button" (click)="removeImage()">
                <mat-icon>delete</mat-icon>
                {{'PROFILE.DELETE_PICTURE' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-3">
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'PROFILE.FULL_NAME_LABEL' | translate}}</mat-label>
              <input formControlName="fullName" matInput placeholder="{{'PROFILE.FULL_NAME_PLACEHOLDER'|translate}}">
              <mat-error libFieldError></mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'PROFILE.PHONE_NUMBER_LABEL' | translate}}</mat-label>
              <input formControlName="phoneNumber" matInput
                placeholder="{{'PROFILE.PHONE_NUMBER_PLACEHOLDER'|translate}}">
              <mat-error libFieldError></mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3">
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'PROFILE.USERNAME_LABEL' | translate}}</mat-label>
              <input formControlName="userName" readonly matInput
                placeholder="{{'PROFILE.USERNAME_PLACEHOLDER'|translate}}">
            </mat-form-field>
          </div>
          <div class="mb-3 col-md-6 col-lg-4 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'PROFILE.EMAIL_LABEL' | translate}}</mat-label>
              <input formControlName="email" readonly matInput placeholder="{{'PROFILE.EMAIL_PLACEHOLDER'|translate}}">
            </mat-form-field>
          </div>
        </div>

        <button mat-flat-button type="submit">{{'PROFILE.SAVE_CHANGES' | translate}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>