ul li a{
  color:#000;
  font-size: 18px;
}

ul li a.active{
  color:blue;
}

.spacer 
{
  flex: 1 1 auto;
}

.title {
  cursor: pointer;
}

.welcome-text {
  font-size: smaller;
}


.mat-toolbar{
  background-color: #007DFC;
  color:#fff;
}

.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


mat-toolbar{
  position: relative;
  z-index: 5;
}

mat-sidenav-container{
  height: calc(100vh - 56px);
}

mat-sidenav,
mat-sidenav-content{
  transition: all 500ms ease-in-out;
}