:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  min-width: 300px;
  max-width: 300px;
}

.margin-left {
  margin-left: 300px;
}

mat-drawer-container  {
  min-height: 100vh;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

:host ::ng-deep .mat-drawer-container {
  background-color: #f0f3fb;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}