


mat-sidenav-container{
  height: calc(100vh - 64px);
}

mat-sidenav,
mat-sidenav-content{
  transition: all 500ms ease-in-out;
}

mat-sidenav{
  border-right: 1px solid var(--sys-surface-container-high);
  border-radius: 0;
}