:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  min-width: 300px;
  max-width: 300px;
}

.margin-left {
  margin-left: 300px;
}

mat-drawer-container  {
  min-height: 100vh;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  background: #fff;
}

:host ::ng-deep .mat-drawer-container {
  background-color: #f0f3fb;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.sidebar-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
  padding-left: 24px;
  margin-bottom: 34px;
}

.sidebar-header .logo {
  width: 28px;
  height: 28px;
}

.sidebar-header .brand {
  font-size: 30px;
  font-weight: bold;
    color:#007DFC;
  margin: 0;
  font-family: 'Poppins', sans-serif; /* optional font */
}