<div class="card m-0 p-0">
  <div class="card-header bg-transparent ">
    <div class="border-4 p-3">
      <h2 class="h2 mb-0">Settings</h2>

    </div>
  </div>

  <div class="card-body p-0">
    <div class="d-flex">
      <div class="aside-nav">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="/settings/profile" routerLinkActive="active" class="nav-link" aria-current="page">
              <i class="fa-solid fa-user-pen me-2"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/settings/change-password" routerLinkActive="active" class="nav-link rounded-0">
              <i class="fa-solid fa-gear me-2"></i>
              Change password
            </a>
          </li>



        </ul>
      </div>
      <div class="flex-grow-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>