<div class="d-flex align-items-center bg-light min-vh-100">
  <div class="mx-auto bg-white w-100 h-100 rounded-3 min-vh-100 d-flex align-items-center" style="max-width:450px;">
    <div class="px-4">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/logo.png" alt="logo" class="me-2" width="200" height="200" />
      </div>

      <div class="text-center fw-semibold" style="font-size:25px;">
        Sign in
      </div>

      <div class="text-center">
        Already have an account?
        <a routerLink="/auth/login" class="text-decoration-none">Sign in</a>
      </div>
      <div class="d-flex align-items-center justify-content-center gap-2 mt-4">
        <asl-google-signin-button type="icon" size="large" (googleSignIn)="signInWithGoogle()">
        </asl-google-signin-button>
      </div>

      <div class="d-flex align-items-center gap-2 my-4">
        <div class="border-top w-100 border-1"></div>
        <div class="text-muted">OR</div>
        <div class="border-top w-100 border-1"></div>
      </div>



      <div>

        <form [formGroup]="form" class="mx-auto">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="w-100 mb-3">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter your first name" formControlName="firstName">
                <mat-error libFieldError>First name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="w-100 mb-3">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter your last name" formControlName="lastName">
                <mat-error libFieldError>Last name is required</mat-error>
              </mat-form-field>
            </div>
          </div>


          <mat-form-field class="w-100 mb-3">
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="Enter your phone number" formControlName="phoneNumber">
            <mat-error libFieldError></mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error libFieldError></mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-3">
            <mat-label>User name</mat-label>
            <input matInput placeholder="Enter your user name" formControlName="userName">
            <mat-error libFieldError></mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-3">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix (click)="toggleHidePassword($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword()">
              <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error libFieldError></mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-3">
            <mat-label>Repeat your password</mat-label>
            <input matInput [type]="hideRepeatPassword() ? 'password' : 'text'" formControlName="repeatPassword" />
            <button mat-icon-button matSuffix (click)="toggleHideRepeatPassword($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideRepeatPassword()">
              <mat-icon>{{hideRepeatPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error libFieldError></mat-error>
          </mat-form-field>

          <div class="d-grid mb-3">
            <button mat-flat-button type="button" [disabled]="form.invalid" [loading]="isLoading()"
              (click)="onSubmit()">
              <span class="btn-label">Register</span>
            </button>
          </div>
        </form>
      </div>
      @if(validationErrors().length > 0){
      <div class="px-4 mt-2">
        <div class="alert alert-danger" role="alert" aria-live="assertive">
          <strong>There are errors in the form</strong>
          <ul class="mb-0 mt-2 small">
            @for (item of validationErrors(); track $index) {
            <li>{{item}}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="flex-fill d-none d-md-block" style="min-height:100vh;">
    <div class="w-75 w-md-50 mx-auto h-100 d-flex align-items-centerr" style="max-width:650px;">
      <img src="assets/images/Illustration.svg" class="img-fluid" alt="illustration" />
    </div>
  </div>
</div>