
:host ::ng-deep .fc-evt-inline {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2px 4px;
  font-size: 12px;
  overflow: hidden;
}

:host ::ng-deep .fc-evt-time {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 1px 5px;
  margin-right: 6px;
  font-weight: 600;
  flex-shrink: 0;
}

:host ::ng-deep .fc-evt-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}