<h2 mat-dialog-title>Doctor Schedule</h2>

<mat-dialog-content>
  <form [formGroup]="timeSlotForm" class="w-100">
    <div class="time-picker-container w-100">

      <div class="mb-3 d-flex flex-column">
        <label for="startTime" class="time-label">Start Time</label>
        <input
          type="time"
          id="startTime"
          formControlName="startTime"
          class="time-input w-100"
        />

        <ng-container *ngIf="timeSlotForm.get('startTime')?.touched && timeSlotForm.get('startTime')?.hasError('required')">
          <span class="text-danger">Start time is required</span>
        </ng-container>
      </div>

      <div class="mb-3 d-flex flex-column">
        <label for="endTime" class="time-label">End Time</label>
        <input
          type="time"
          id="endTime"
          formControlName="endTime"
          class="time-input w-100"
        />

        <ng-container *ngIf="timeSlotForm.get('endTime')?.touched && timeSlotForm.get('endTime')?.hasError('required')">
          <span class="text-danger">End time is required</span>
        </ng-container>
      </div>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-flat-button color="warn" (click)="closeDiaglog()">Close</button>

  <button
    mat-flat-button
    color="primary"
    (click)="data.timeSlot?.id == undefined ? addTimeSlot() : updateTimeSlot(data.timeSlot?.id!)"
    [disabled]="timeSlotForm.invalid"
    cdkFocusInitial>
    {{ data.timeSlot?.id == undefined ? 'Create' : 'Update' }}
  </button>
</mat-dialog-actions>
