.materialTableHeader{
  align-items: center;
  border-color: #dae1f3;
  background-color: #dae1f3;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding:0 5px;
}

.materialTableHeader .left{
  flex: 35%;
  height: 60px;
  display: flex;
  align-items: center;
  
}

.materialTableHeader h2{
  font-size: 16px;
  color:#5b626b
}

.materialTableHeader .input-search-field{
  font-weight: 500;
    color: #0000008a;
    border-radius: 5px;
    border: 0;
    height: 45px;
    padding: 8px 8px 8px 50px;
    width: 100%;
    background: #fff;
}

.search-icon{
  position: absolute;
  top:10px;
  padding-left: 4px;
  color:#0000008a;
}

.materialTableHeader .tbl-search-box input.search-field{
  font-weight: 500;
    color: #0000008a;
    border-radius: 5px;
    border: 0;
    height: 45px;
    padding: 8px 8px 8px 50px;
    width: 100%;
    background: #fff;
}

.btn-download{
  color:#2196f3 !important
}

.file-download-icon{
  font-size: 21px !important;
}

.avatar{
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

