<div class="m-3">

  <div class="card-title p-3">
    <div class="d-flex justify-content-between align-items-center">
      <h2>All Users</h2>
      <button mat-flat-button color="primary" class="custom-button-heigh" (click)="addUser()">
        <mat-icon>add</mat-icon>
        Add User
      </button>

    </div>
  </div>

  <div class="card-body">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName + '' + element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> userName </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> phoneNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> roles </th>
        <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
      </ng-container>
      <ng-container matColumnDef="isDisabled">
        <th mat-header-cell *matHeaderCellDef> Disabled </th>
        <td mat-cell *matCellDef="let element">
          @if(element.isDisabled){
            <span class="inactive-badge">In Active</span>
          }@else {
            <span class="active-badge">Active</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="isLocked">
        <th mat-header-cell *matHeaderCellDef> Locked </th>
        <td mat-cell *matCellDef="let element">
          @if(element.isLocked){
            <span class="locked-badge">Locked</span>
          }@else {
            <span class="unlocked-badge">Un locked</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <div class="d-flex justify-content-center">
            Actions
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex align-items-center justify-content-center gap-3">
            <button class="btn btn-danger" (click)="updateUser(element.id)">
              @if(element.isDisabled){
              <i class="fa-solid fa-lock-open"></i>
              }@else {
              <i class="fa-solid fa-lock"></i>
              }
            </button>
            <button class="btn btn-primary" (click)="updateUser(element.id)">
              @if(element.isLocked){
              <i class="fa-solid fa-check"></i>
              }@else {
              <i class="fa-solid fa-xmark"></i>
              }
            </button>
            <button class="btn btn-success" (click)="updateUser(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btn-danger" (click)="deleteUser(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialogDetails(row.id)"></tr>
    </table>

  </div>



</div>