<div class="m-3">

  <div class="card-title p-3">
    <div class="d-flex justify-content-between align-items-center">
      <h2>All Users</h2>
      <button mat-flat-button color="primary" class="custom-button-heigh" (click)="addUser()">
        <mat-icon>add</mat-icon>
        Add User
      </button>

    </div>
  </div>

  <div class="card-body">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> userName </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> phoneNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> roles </th>
        <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
      </ng-container>
      <ng-container matColumnDef="isDisabled">
        <th mat-header-cell *matHeaderCellDef> Disabled </th>
        <td mat-cell *matCellDef="let element">
          @if(element.isDisabled){
          <span class="inactive-badge">In Active</span>
          }@else {
          <span class="active-badge">Active</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="isLocked">
        <th mat-header-cell *matHeaderCellDef> Locked </th>
        <td mat-cell *matCellDef="let element">
          @if(element.isLocked){
          <span class="locked-badge">Locked</span>
          }@else {
          <span class="unlocked-badge">Unlocked</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <div class="d-flex justify-content-center">
            Actions
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toggleStatus(element.id)">
              @if(element.isDisabled){
              <i class="fa-solid fa-lock-open"></i>
              Activate
              }@else {
              <i class="fa-solid fa-lock"></i>
              Disable
              }
            </button>
            <button mat-menu-item [disabled]="!element.isLocked" (click)="unlockUser(element)">
              <i class="fa-solid fa-check"></i>
              Unlock
            </button>
            <button mat-menu-item (click)="updateUser(element)">
              <mat-icon>edit</mat-icon>
              Update
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>



</div>