<div class="d-flex flex-column-reverse flex-md-row bg-light min-vh-100">
    <div class="bg-white w-100" style="max-width:450px;">
        <div class="pt-5" style="margin-top:130px;">
            <div class="d-flex justify-content-center align-items-center">
                <img src="assets/logo.svg" alt="logo" class="me-2" />
                <span class="text-primary fw-bold" style="font-size:32px">Clinic</span>
            </div>

            <div class="text-center fw-semibold" style="font-size:25px; margin-top:23px;">
                Log in
            </div>

            <div class="mt-4 px-4">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mx-auto" style="max-width:360px;">
                    <mat-form-field class="w-100 mb-3">
                        <mat-label>Email / Usename</mat-label>
                        <input matInput placeholder="Enter your email or username" formControlName="emailOrUsername">
                        <mat-error libFieldError>Email or username is required</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100 mb-3">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
                        <button mat-icon-button matSuffix (click)="toggleHide($event)" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide()">
                            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error libFieldError>Password is required</mat-error>
                    </mat-form-field>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg rounded-3">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="flex-fill d-flex justify-content-center align-items-center" style="min-height:100vh;">
        <div class="w-75 w-md-50" style="max-width:650px;">
            <img src="assets/Illustration.svg" class="img-fluid" alt="illustration" />
        </div>
    </div>
</div>