<div class="page-wrapper">
  <div class="breadcrumb">
    <li>
      <h4 class="page-title">{{'PATIENTS.TITLE_ALL'|translate}}</h4>
    </li>
  </div>

  <div class="card-body">
    <lib-material-table
      [title]="'Patients'"
      [tableData]="patients"
      [tableColumns]="patientsTableColumns"
      [isFilterable]="true"
      [isSortable]="false"
      [isPageable]="true"
      [isServerSidePagination]="true"
      [totalItems]="totalItems"
      [pageSize]="pageSize"
      [isServerSideSortable]="true"
      (sort)="onSort($event)"
      (search)="onSearch($event)"
      (page)="onPageChange($event)"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      [isExportable]="true"
      (exportExcel)="exportAsExcel()"
      [enableSelection]="true"
      (bulkDelete)="confirmBulkDelete($event)"
      (openDialogDetails)="openDialogDetails($event)"
    ></lib-material-table>
  </div>
</div>
